.App {
  text-align: center;
  background-color: #FFBA73;
  font-family: 'Play', sans-serif;
  color: white;
  padding-bottom: 40px;
 }

h1, h2{
  margin: 0;
  padding-top: 20px;
}

.calendar{
  display: grid;
  height: 80vh;
  margin: 0 auto;
  grid-template-columns:repeat(7, 100px);
  grid-template-rows:auto;
  background: #FF8100;
  grid-gap: 2px;
  justify-content: center;
  width: 700px;
}
.calendar__day{
  background: 	#A65400;
  padding: 10px;
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.calendar__day:hover{
  background-color: #FF8100;
}
.modal{
  position: absolute;
  top:200px;
  left:25%;
  width: 400px;
  height: 200px;
  background-color: burlywood;
}
.btn{
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 20px;
  background-color:#FF8100;
  color: wheat;
  font-family: 'Play', sans-serif;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all .2s;
}
.btn:hover{
  background-color:#FFA040;
  color: #A65400;
}